/Arraytostream.class
/ContestantWinner.class
/Employee.class
/EmployeeSalary.class
/EmployeeShortByName.class
/OddEvenByStream.class
/StreamEmployeeShortById.class
/StreamHighestSalary.class
/StreamPrimeNo.class
/StreamStartWithT.class
/StreamToArray.class
/TestContestantWinner.class
/TestEmployeeSalary.class
