/CountAccuraceOfaChar.class
/CountAccuranceOfString.class
/CountNoOfIntFromString.class
/EctractIntFromString.class
/ExtractDublicateCharINString.class
/ExtractVowels.class
/RemoveDuplicateCharInString.class
/ReverseAtSamePlace.class
/ReverseString.class
/ShortingOfString.class
/VowelsCount.class
